@media only screen  and (max-width : 580px){
	/*.long-font{font-size: 34px;}*/
	/*.each-box{width: 100%}*/
	.map{width: 100%}
	.breadcrumb{display: none;}
	.bread-crumb-site ul{margin:0;}
	.each-box.col-xs-12{padding-right: 20px;padding-left: 20px}
	.overview .white-partition{display: table-cell;}
}
@media only screen  and (max-width : 768px) {
	.row-status .col-xs-3{display: inline-block;width: 20%;}
	/*.row-status div{display: table-cell;}*/
	.main-menu-link{width: 100%;background-color: #EEF0F6;padding: 6px;}
	.navbar-brand{font-size: 15px;padding-top: 10px}
	.left-menu {left: -185px; top: 80px;padding-top: 61px;}  
    .left-menu.active {left: 0;}
    .right-wrapper{margin-left: 0}  
    .overview-text-head{padding-top: 0;font-weight: 500;font-size: 14px;border-bottom: 1px solid #F2F2F2;}  
   /* .breadcrumb li{font-size:11px}
    .bread-crumb-site ul{margin:0;}
    .bread-crumb-site, .overview{padding-left:0;padding-right: 0}    
    .bread-crumb-site label{margin-right: 5px}
    /*.bread-crumb-site label, .bread-crumb-site .visible-sm, */
    /*.bread-crumb-site .nav > li > a{display: inline-block;padding-top: 9px}*/
    /*.bread-crumb-site .visible-sm{padding-top:9px;padding-right: 20px;}    */
   	/*.bread-crumb-site .dropdown-toggle{padding-top: 0;padding-left: 0px;padding-right: 34px;}*/
   	/*.white-partition-top span{padding: 3px;}*/
   	/*.each-box{padding-right: 15px;padding-left: 15px}*/
}/*
@media only screen  and (min-width :1250px) and (max-width:1417px ) {
	.map img{height: 250px;}
	.long-font{font-size: 30px;}
	.each-box{padding-right: 5px;padding-left: 5px}
	.list-group-item a{padding-left: 5px; padding-right: 15px}
}
@media only screen  and (min-width :960px) and (max-width:1249px ){
	.long-font{font-size: 30px}
	.each-box{padding-right: 5px;padding-left: 5px;width: 50%}
	.map img{height: 250px;}
	.side-menu-link{display: none;}
	*/
}

